html{
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

.box{
    background-size: 100% 100%;
    heigth: 100vh;
    width: 100vw;
}

@font-face{
    font-family: ptsans;
    src: url(/public/fonts/PT_Sans/PTSans-Regular.ttf);
}

@font-face{
    font-family: nanum;
    src: url(/public/fonts/Nanum_Pen_Script/NanumPenScript-Regular.ttf);
}

.cont{  
    display: flex;
    flex-direction: column;
    heigth: 100vh;
    width: 100vw;
}

.header,
.headshots{
    display: flex;
    flex-direction: row;
}

.left,
.Riley{
    flex: 1;          /* shorthand for: flex-grow: 1, flex-shrink: 1, flex-basis: 0 */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.center,
.Max{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right,
.Faith{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.video{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company{
    display: inline-block;
    padding: 10px;
    width: 30vw;
}

.mission-container{
    background-color: #E5E4E2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mission-header{
    font-weight: bold;
}

a:link{
    text-decoration: none;
    color: #000000;
}

.login{
    margin-right: 15px;
}

.lines{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.vl {
    border-left: 1.4px solid black;
    height: 100px;
}

.add-container,
.delete-container,
.update-container,
.settings-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.settings-buttons{
    display: flex;
    flex-direction: column;
    width: 25vw;
    align-items: flex-start;
    justify-content: flex-start;
}

.add-form,
.update-form,
.delete-form{
    width: 30vw;
    height: 70vw;
}

.login-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sign-up-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign-up-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}
